@model CategoryCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">

            <label class="mt-5" for="category">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="form-control form-bg-light" maxlength="100" placeholder="Name...">
            
            <label for="category">Image</label>
            <span asp-validation-for="Image" class="text-danger"></span>
            <input class="form-control form-bg-light" type="file" asp-for="Image" maxlength="100" placeholder="Category...">
           
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-light mr-2">Cancel</a>
    </form>
</div>

